/*
html,body{
padding:0;
margin:0;
}

body {
overflow-x: hidden;
}
*/

.container {
background-color:grey;
display:flex;
flex-wrap:wrap;
flex-direction:column;
height:100vh;
}

.module{
height:100%;
display:flex;
}

.green{
width:500px;
background-color:green;
}

.yellow{
width:1300px;
background-color:yellow;
}

.purple{
width:800px;
background-color:purple;
}

.orange{
width:800px;
background-color:purple;
}

.blue{
width:2100px;
background-color:blue;
}

.red{
width:900px;
background-color:red;
}